.bankDiv{
    border-style: solid;
    height: 25%;
    width: 50%;
}

.workDiv{
    border-style: solid;
    height: 25%;
    width: 50%;
}

.selectLaptopsDiv{
    border-style: solid;
    height: 25%;
    width: 50%;
}

.innerText{
    display: flex;
    justify-content: space-between ;

}

.indentSpace{
    text-indent: 15%;
    display: inline;
}

button{
    position: relative;
    left: 40%;
}
